footer#footer
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-5
        ul.list-unstyled.list-inline.social.text-center
          li.list-inline-item
            a(href="#" blank="true" rel="nofollow")
              i.fa.fa-facebook
          li.list-inline-item
            a(href="#" blank="true" rel="nofollow")
              i.fa.fa-twitter
          li.list-inline-item
            a(href="#" blank="true" rel="nofollow")
              i.fa.fa-google-plus
          li.list-inline-item
            a(href="#" blank="true" rel="nofollow")
              i.fa.fa-envelope
    .row
      .col-xs-12.col-sm-12.col-md-12.mt-2.mt-sm-2.text-center
        p
          | #{helpers.siteName}
        p.h6
          | &copy; #{new Date().getFullYear()} All rights reserved.
