extends ../layout

block content
  .jumbotron
    h1.display-3 Node Starter Demo
    p.lead
      | This is a starter template which should get you started in the right direction.
    hr.my-4
    p
      | It uses Node, Express, Pug, jQuery, Docker and PostgreSQL (Sequelize).
    p.lead
      a.btn.btn-primary.btn-lg(href="https://github.com/alvinio/node-starter", role="button") Learn more

